.list-cell {
    -fx-text-fill: black; /* 5 */
   /* -fx-font-size: 12; */
}
.list-cell:odd { -fx-background-color: white; /* 1 */ }
.list-cell:even { -fx-background-color: white; /* for information */ }
}